extends layout

block content
    include navbar.pug

    div.container             
        h1= title
        p Welcome to #{title}

        div.top
        div.content
          table.table.table-striped
            thead
              tr
                th Table
                th Heading
            tbody
              tr
                td Blah
                td Test
              tr
                td Hello
                td World

    div.footer

