extends layout

block content
  section
    div.container             
      h1 List of Recognitions

      div.top
      div.content
        table.table.table-striped
          thead
            tr
              th Screen Name
              th Recognition
              th Date
              th Signed By
          tbody
            each row in data
              tr
                td
                  a(href='/people/profile/' + row.username)= row.username
                td= row.recognition
                td= row.date.toLocaleDateString()
                td
                  a(href='/people/profile/' + row.by_user)= row.by_user
